{% extends 'uploadimages/main.html' %}

{% block content %}
{% load static %}

  <thead>
        <link rel="stylesheet" type="text/css" href="{% static '/css/image_list.css' %}">

  </thead>



    <tbody>
        <div class="image-container">
            <div class="image-id">{% include 'uploadimages/image_id.html' %}</div>
            <div class="image-name">{% include 'uploadimages/image_name.html' %}</div>
            <div class="original-image">{% include 'uploadimages/original_images.html' %}</div>
            <div class="thumbnail-200px">{% include 'uploadimages/thumbnail_200px.html' %}</div>
            <div class="thumbnail-400px">{% include 'uploadimages/thumbnail_400px.html' %}</div>
        </div>
    </tbody>


{% endblock %}
