{% extends 'uploadimages/main.html' %}

{% block content %}


<table>
  <thead>

      <tr>

          <th>{% include 'uploadimages/image_id.html' %}</th>
          <th>{% include 'uploadimages/image_name.html' %}</th>
          <th>{% include 'uploadimages/original_images.html' %}</th>
          <th>{% include 'uploadimages/thumbnail_200px.html' %}</th>
          <th>{% include 'uploadimages/Thumbnail_400px.html' %}</th>


      </tr>
  </thead>
</table>
    </tbody>

        <tr>
          <td colspan="3">No images found.</td>
        </tr>

    </tbody>


{% endblock %}
